﻿@{
    ViewData["Title"] = "Home BEZAO";
    var id = (int?) ViewData["id"];
}
@section Css{
    <style>
        .text-center {
            background: maroon;
            border: 1px solid;
            border-radius: 9px;
        }
    </style>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
   
        @if (id != null)
        {
            <ul>
                @for (var i = 0; i <= id.Value; i++)
                {
                    <li>Number @i</li>
                }
            </ul>

        }
       
   
</div>


@section Scripts
{
    <script>
        console.log("working");
    </script>
}
