﻿@model CoreMVC.Models.Person

@{
    Layout = "_Bootstrap4";
    ViewData["Title"] = "Privacy Policy";
    var person = Model;
}


<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>My Name is @person.FirstName - @Model.LastName</p>
